In [4]:
import sqlite3
import csv
import pandas as pd
from tqdm import tqdm

In [6]:
# lpoint db 생성 or 연결
con = sqlite3.connect("lpoint.db", isolation_level=None)

In [ ]:
# 01_DEMO.csv -> DEMO table로 저장
cur = con.cursor()
cur.execute("CREATE TABLE DEMO (cust varchar(50) primary key, ma_fem_dv varchar(50), ages varchar(50), zon_hlv varchar(50));") # use your column names here

with open('./LPOINT_DATA/DEMO.csv', 'r', encoding='cp949') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin) # comma is default delimiter
    data = [(i['cust'], i['ma_fem_dv'], i['ages'], i['zon_hlv']) for i in tqdm(dr)]
    
cur.executemany("INSERT INTO DEMO VALUES (?, ?, ?, ?);", data)
con.commit()
con.close()

In [ ]:
# 02_PDDE.csv -> PDDE table로 저장
cur = con.cursor()
cur.execute('''CREATE TABLE PDDE (cust varchar(50), rct_no varchar(50), chnl_dv INTEGER, cop_c varchar(50), br_c varchar(50), 
pd_c varchar(50), de_dt DATE, de_hr INTEGER, buy_am INTEGER, buy_ct INTEGER,  
FOREIGN KEY (cust) REFERENCES DEMO (cust), FOREIGN KEY (br_c) REFERENCES BR (br_c), FOREIGN KEY (pd_c) REFERENCES PD_CLAC (pd_c));''') # use your column names here

with open('./LPOINT_DATA/02_PDDE.csv', 'r', encoding='cp949') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin) # comma is default delimiter
    data = [(i['cust'], i['rct_no'], i['chnl_dv'], i['cop_c'], i['br_c'], i['pd_c'], i['de_dt'], i['de_hr'], i['buy_am'], i['buy_ct']) for i in tqdm(dr)]
    
cur.executemany("INSERT INTO PDDE VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?);", data)
con.commit()
con.close()

4381743it [00:35, 123330.60it/s]

In [3]:
# 03_COP_U.csv -> COP_U table로 저장
cur = con.cursor()
cur.execute('''CREATE TABLE COP_U (cust varchar(50), rct_no INTEGER, cop_c varchar(50), br_c varchar(50), chnl_dv INTEGER, 
de_dt DATE, vst_dt DATE, de_hr INTEGER, buy_am INTEGER, 
FOREIGN KEY (cust) REFERENCES DEMO (cust), FOREIGN KEY (br_c) REFERENCES BR (br_c));''') # use your column names here

with open('./LPOINT_DATA/03_COP_U.csv', 'r', encoding='cp949') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin) # comma is default delimiter
    data = [(i['cust'], i['rct_no'], i['cop_c'], i['br_c'], i['chnl_dv'], i['de_dt'], i['vst_dt'], i['de_hr'], i['buy_am']) for i in tqdm(dr)]
    
cur.executemany("INSERT INTO COP_U VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?);", data)
con.commit()
con.close()

248304it [00:02, 104750.39it/s]

In [3]:
# 04_PD_CLAC.csv -> PD_CLAC table로 저장
cur = con.cursor()
cur.execute("CREATE TABLE PD_CLAC (pd_c varchar(50) primary key, pd_nm varchar(50), clac_hlv_nm varchar(50), clac_mcls_nm varchar(50));") # use your column names here

with open('./LPOINT_DATA/04_PD_CLAC.csv', 'r', encoding='cp949') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin) # comma is default delimiter
    data = [(i['pd_c'], i['pd_nm'], i['clac_hlv_nm'], i['clac_mcls_nm']) for i in tqdm(dr)]
    
cur.executemany("INSERT INTO PD_CLAC VALUES (?, ?, ?, ?);", data)
con.commit()
con.close()

1933it [00:00, 121138.98it/s]

In [11]:
# 05_BR.csv -> BR table로 저장
cur = con.cursor()
cur.execute("CREATE TABLE BR (br_c varchar(50) primary key, cop_c varchar(50), zon_hlv varchar(50), zon_mcls varchar(50));") # use your column names here

with open('./LPOINT_DATA/05_BR.csv', 'r', encoding='cp949') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin) # comma is default delimiter
    data = [(i['br_c'], i['cop_c'], i['zon_hlv'], i['zon_mcls']) for i in tqdm(dr)]
    
cur.executemany("INSERT INTO BR VALUES (?, ?, ?, ?);", data)
con.commit()
con.close()

8808it [00:00, 149690.35it/s]

In [20]:
# 06_LPAY.csv -> LPAY table로 저장
cur = con.cursor()
cur.execute("CREATE TABLE LPAY (cust varchar(50), rct_no INTEGER, cop_c varchar(50), chnl_dv INTEGER, de_dt DATE, de_hr INTEGER, buy_am INTEGER, FOREIGN KEY (cust) REFERENCES DEMO (cust), FOREIGN KEY (cop_c) REFERENCES BR (cop_c));") # use your column names here

with open('./LPOINT_DATA/06_LPAY.csv', 'r', encoding='cp949') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin) # comma is default delimiter
    data = [(i['cust'], i['rct_no'], i['cop_c'], i['chnl_dv'], i['de_dt'], i['de_hr'], i['buy_am']) for i in tqdm(dr)]
    
cur.executemany("INSERT INTO LPAY VALUES (?, ?, ?, ?, ?, ?, ?);", data)
con.commit()
con.close()

353184it [00:02, 149015.63it/s]

In [ ]:
demo = pd.read_sql("SELECT * FROM DEMO", con, index_col=None)

In [ ]:
cur = con.cursor()
a = cur.execute( 'PRAGMA table_info(DEMO)' )
print(a.fetchall())

In [4]:
# pd_clac 테이블, 데이터프레임에 저장
con = sqlite3.connect("lpoint.db", isolation_level=None)
pd_clac = pd.read_sql("SELECT * FROM PD_CLAC", con, index_col=None)

In [5]:
pd_clac.head()

     pd_c    pd_nm clac_hlv_nm clac_mcls_nm
0  PD0001       소파          가구         거실가구
1  PD0002  스툴/리빙의자          가구         거실가구
2  PD0003       탁자          가구         거실가구
3  PD0004  장식장/진열장          가구         거실가구
4  PD0005     기타가구          가구         기타가구

In [7]:
# 컬럼 확인
cur = con.cursor()
a = cur.execute( 'PRAGMA table_info(PD_CLAC)' )
print(a.fetchall())

[(0, 'pd_c', 'varchar(50)', 0, None, 1), (1, 'pd_nm', 'varchar(50)', 0, None, 0), (2, 'clac_hlv_nm', 'varchar(50)', 0, None, 0), (3, 'clac_mcls_nm', 'varchar(50)', 0, None, 0)]

In [13]:
# br 테이블, 데이터프레임에 저장
con = sqlite3.connect("lpoint.db", isolation_level=None)
br= pd.read_sql("SELECT * FROM BR", con, index_col=None)

In [14]:
br.head()

      br_c cop_c zon_hlv zon_mcls
0  A010001   A01     Z17   Z17024
1  A010002   A01     Z17   Z17018
2  A010003   A01     Z17   Z17011
3  A010004   A01     Z16   Z16007
4  A010005   A01     Z17   Z17005

In [15]:
# 컬럼 확인
cur = con.cursor()
a = cur.execute( 'PRAGMA table_info(BR)' )
print(a.fetchall())

[(0, 'br_c', 'varchar(50)', 0, None, 1), (1, 'cop_c', 'varchar(50)', 0, None, 0), (2, 'zon_hlv', 'varchar(50)', 0, None, 0), (3, 'zon_mcls', 'varchar(50)', 0, None, 0)]

In [27]:
# lpay 테이블, 데이터프레임에 저장
con = sqlite3.connect("lpoint.db", isolation_level=None)
lpay = pd.read_sql("SELECT * FROM LPAY", con, index_col=None)

In [28]:
lpay.head()

         cust           rct_no cop_c  chnl_dv     de_dt  de_hr  buy_am
0  M629656521  210803210311226   A03        1  20210803     21   10900
1  M216016456  210803130167542   L01        2  20210803     13    6860
2  M205142844  210803140275112   A02        1  20210803     14    9000
3  M737010483  210803040637594   A06        2  20210803      4   36740
4  M707775545  210803140675502   A06        2  20210803     14  138500

In [29]:
cur = con.cursor()
a = cur.execute( 'PRAGMA table_info(LPAY)' )
print(a.fetchall())

[(0, 'cust', 'varchar(50)', 0, None, 0), (1, 'rct_no', 'INTEGER', 0, None, 0), (2, 'cop_c', 'varchar(50)', 0, None, 0), (3, 'chnl_dv', 'INTEGER', 0, None, 0), (4, 'de_dt', 'DATE', 0, None, 0), (5, 'de_hr', 'INTEGER', 0, None, 0), (6, 'buy_am', 'INTEGER', 0, None, 0)]

In [30]:
# db연결 종료
con.close()