# 데이터 전처리
__2번 테이블 PDDE는 데이터가 큰 관계로 3,6번 테이블 대상으로 모든 변수들을 수치형으로 변환해 K-means 클러스터링을 구현한다.__

In [2]:
import pandas as pd
import numpy as np

In [19]:
cop_u = pd.read_csv('./data/cop_u.csv', encoding='utf-8')
lpay = pd.read_csv('./data/lpay.csv', encoding='utf-8')

## 결측치 제거

cop_u 데이터에 결측치 존재

In [20]:
cop_u.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248304 entries, 0 to 248303
Data columns (total 12 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   고객번호      248304 non-null  object
 1   영수증번호     248304 non-null  object
 2   제휴사       248304 non-null  object
 3   점포코드      248249 non-null  object
 4   채널구분      248304 non-null  int64
 5   이용일자      248304 non-null  int64
 6   방문일자      248304 non-null  int64
 7   이용시간      248304 non-null  int64
 8   이용금액      248304 non-null  int64
 9   성별        248304 non-null  object
 10  연령대       248304 non-null  object
 11  거주지분류대코드  248304 non-null  object
dtypes: int64(5), object(7)
memory usage: 22.7+ MB

In [21]:
lpay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353184 entries, 0 to 353183
Data columns (total 10 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   고객번호      353184 non-null  object
 1   영수증번호     353184 non-null  int64
 2   제휴사       353184 non-null  object
 3   채널구분      353184 non-null  int64
 4   이용일자      353184 non-null  int64
 5   이용시간      353184 non-null  int64
 6   이용금액      353184 non-null  int64
 7   성별        353184 non-null  object
 8   연령대       353184 non-null  object
 9   거주지분류대코드  353184 non-null  object
dtypes: int64(5), object(5)
memory usage: 26.9+ MB

In [25]:
# cop_u = cop_u.dropna()
cop_u.isna().sum()

고객번호        0
영수증번호       0
제휴사         0
점포코드        0
채널구분        0
이용일자        0
방문일자        0
이용시간        0
이용금액        0
성별          0
연령대         0
거주지분류대코드    0
dtype: int64

## 구매월 변수 추가
Kprototype 경우와 다르게 구매월 변수 추가할 때 int형으로 추가한다.

In [26]:
cop_u['구매월'] = cop_u['이용일자'].map(lambda x: int(str(x)[4:6]))
lpay['구매월'] = lpay['이용일자'].map(lambda x: int(str(x)[4:6]))

## 군집화에 사용할 변수 선택

In [28]:
dt3 = cop_u[['성별', '연령대', '거주지분류대코드', '제휴사', '점포코드', '채널구분', '이용시간', '이용금액', '구매월']]
dt6 = lpay[['성별', '연령대', '거주지분류대코드', '제휴사', '채널구분', '이용시간', '이용금액', '구매월']]

## 원핫인코딩
### 03_COP_U

In [30]:
dt3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 248249 entries, 0 to 248303
Data columns (total 9 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   성별        248249 non-null  object
 1   연령대       248249 non-null  object
 2   거주지분류대코드  248249 non-null  object
 3   제휴사       248249 non-null  object
 4   점포코드      248249 non-null  object
 5   채널구분      248249 non-null  int64
 6   이용시간      248249 non-null  int64
 7   이용금액      248249 non-null  int64
 8   구매월       248249 non-null  int64
dtypes: int64(4), object(5)
memory usage: 18.9+ MB

In [31]:
dt3

        성별  연령대 거주지분류대코드  제휴사     점포코드  채널구분  이용시간    이용금액  구매월
0       남성  70대      Z17  B01  B010012     1    12   60000   10
1       남성  70대      Z17  B01  B010012     1    10   17100   11
2       남성  70대      Z17  B01  B010012     1    12  136500    2
3       남성  70대      Z17  B01  B010012     1    10   34200    9
4       남성  70대      Z17  D01  D010614     1     9    2500   10
...     ..  ...      ...  ...      ...   ...   ...     ...  ...
248299  여성  20대      Z10  C02  C020002     1    14    2000   11
248300  여성  20대      Z10  C02  C020002     1    19   26900   11
248301  여성  30대      Z12  C01  C010087     2     9    2000   12
248302  남성  20대      Z17  C01  C010007     2    19    6000   11
248303  남성  30대      Z17  C01  C010014     2    19   28000   12

[248249 rows x 9 columns]

1. 성별  
명목변수 - 원핫인코딩
2. 연령대  
순위변수(10년이 기준) - 20대: 2, 30대: 3, ..로 오디널인코딩
3. 거주지분류대코드  
명목변수 - 종류 매우 많음.
4. 제휴사  
명목변수 - B01, C01, C02, D01, D02, E01에 대해 원핫인코딩
5. 점포코드  
명목변수 - 종류 매우 많음.
6. 채널구분  
명목변수 - 오프라인: 0, 온라인: 1로 원핫인코딩

In [35]:
dt3['거주지분류대코드'].value_counts()

Z17    81238
Z10    64365
Z16    22856
Z11    14123
Z04    13787
Z06     8806
Z13     7276
Z14     6262
Z08     5067
Z15     4867
Z12     4388
Z03     4160
Z09     3716
Z05     3121
Z01     2574
Z07     1171
Z02      472
Name: 거주지분류대코드, dtype: int64

### 05_LPAY

## 변수 스케일링

In [ ]:
scaled_X = MinMaxScaler().fit_transform(data[['이용시간', '이용금액']])
data[['이용시간', '이용금액']] = scaled_X