In [1]:
import pandas as pd

demo = pd.read_csv("./data/LPOINT_BIG_COMP_01_DEMO.csv")
pdde = pd.read_csv("./data/LPOINT_BIG_COMP_02_PDDE.csv")
cop_u = pd.read_csv("./data/LPOINT_BIG_COMP_03_COP_U.csv")
pd_clac = pd.read_csv("./data/LPOINT_BIG_COMP_04_PD_CLAC.csv")
br = pd.read_csv("./data/LPOINT_BIG_COMP_05_BR.csv")
lpay = pd.read_csv("./data/LPOINT_BIG_COMP_06_LPAY.csv")

<ipython-input-1-9ba496f545e8>:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  pdde = pd.read_csv("./data/LPOINT_BIG_COMP_02_PDDE.csv")

In [3]:
# MySQL이 파이썬의 NaN을 받아들이지 못하므로, 모두 None로 변경한다.
pdde = pdde.where((pd.notnull(pdde)), None)
cop_u = cop_u.where((pd.notnull(cop_u)), None)

## Mysql

In [4]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\kl122\anaconda3\lib\site-packages (1.0.2)

In [7]:
# 1. pymysql 설치 및 불러오기
import pymysql

# 2. 데이터베이스 연결
db = pymysql.connect(host='localhost', port=3306, user='root', password='kl104070!kl',
                     db='lpoint', charset='utf8')   # charset: 인코딩 설정

# 3. curosr 사용
cursor = db.cursor() 

# 4. 쿼리문 작성
# 컬럼명: 테이블의 컬럼명과 동일하게 입력
# %s 개수: 컬럼 개수만큼 입력
# sql = 'INSERT INTO 테이블명(컬럼명1, 컬럼명2, ...) VALUES(%s, %s, ...)'
sql = 'SELECT * FROM DEMO'

# 5. 데이터 import
for idx in range(len(demo)):
    cursor.execute(sql, tuple(demo.values[idx]))

# 6. 데이터베이스 업데이트 및 작업 종료
db.commit() 

# 7. 데이터베이스 닫기 
db.close()

TypeError: not all arguments converted during string formatting